.splitl {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
}

.splitr {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
    animation-name: detail-set-small;
    animation-duration: 1s;
}

@keyframes detail-set-small {
    from {width: 40%; color: #a2a2a2;}
    to {width: 100%; color: black}
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.profile-pho {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.back {
    width: 15px;
    position: absolute;
    top: 1.5%;
    right: 1%;
}