.done-btn {
    position: absolute;
    top: 77%;
    right: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background: #1357ae;
    text-align: center;
}

.more-btn {
    position: absolute;
    top: 77%;
    left: 55%;
    transform: translate(0, -50%);
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background: #1357ae;
    text-align: center;
}

#cent {
    font-family: sans-serif;
    color: #000000;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
    height: 100%;
}

.tick {
    position: absolute;
    width: 15px;
    top: 3%;
    right: 3%;
}

.box {
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    z-index: 2;
    padding: 5px;
}

.a {
    width: 22%;
    height: 20%;
    top: 50%;
    left: 50%;
}

.done {
    width: 22%;
    height: 20%;
    top: 50%;
    left: 50%;
}

.box .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: rgba(0,0,0,0.8) transparent transparent transparent;
    border-width: 8px 8px 8px 8px;
    bottom: -15px;
    right: 50%;
    transform: translate(50%, 0);
}

.top {
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-width: 8px 8px 8px 8px;
    top: -8px;
    right: 50%;
    transform: translate(50%, -50%);
}

.left {
    border-color: transparent rgba(0,0,0,0.8) transparent transparent;
    border-width: 8px 8px 8px 8px;
    top: 50%;
    left: -8px;
    transform: translate(-50%, -50%);
}

.topr {
    border-color: transparent transparent rgba(0,0,0,0.8) transparent;
    border-width: 8px 8px 8px 8px;
    top: -16px;
    right: 6%;
}

#info {
    color: #c8c8c8;
    text-align: center;
    font-family: sans-serif;
}