/* things that are the same across the project, e.g. colours, go here */

.sidebar-bg {
    background-color: #a2a2a2;
}

.main-bg {
    background: url("../photos/bg_login.jpg") no-repeat center center fixed #434343;
    background-size: cover;
}

.box-bg {
    background-color: rgba(255, 255, 255, 0.8);
}

.chevron {
    position: absolute;
    top: 50%;
    height: 20px;
    left: 4px;
}

/* Below for page animations */

