<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Media</title>
    <link rel="stylesheet" href="../static/connect.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<ul>
    <li>
        <a href="https://twitter.com">
            <span id="twitter"></span>
            <span id="twitter"></span>
            <span id="twitter"></span>
            <span id="twitter"></span>
            <span class="fa fa-twitter" id="twitter"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="https://facebook.com">
            <span id="facebook"></span>
            <span id="facebook"></span>
            <span id="facebook"></span>
            <span id="facebook"></span>
            <span class="fa fa-facebook-f" id="facebook"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="https://instagram.com">
            <span id="instagram"></span>
            <span id="instagram"></span>
            <span id="instagram"></span>
            <span id="instagram"></span>
            <span class="fa fa-instagram" id="instagram"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="https://plus.google.com">
            <span id="google-plus"></span>
            <span id="google-plus"></span>
            <span id="google-plus"></span>
            <span id="google-plus"></span>
            <span class="fa fa-google-plus" id="google-plus"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="htpps://youtube.com">
            <span id="youtube"></span>
            <span id="youtube"></span>
            <span id="youtube"></span>
            <span id="youtube"></span>
            <span class="fa fa-youtube-play" id="youtube"></span>
        </a>
    </li>
</ul>
</body>
</html>