<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Media</title>
    <link rel="stylesheet" href="/Minx/Jim/static/connect.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<ul>
    <li>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-twitter" id="twitter"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-facebook-f"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-instagram"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-google-plus"></span>
        </a>
    </li>
</ul>
<ul>
    <li>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-youtube-play"></span>
        </a>
    </li>
</ul>
</body>
</html>