<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/deta.css">
    <title>Detail</title>
</head>
<body>
     <div class="splitl left">
         <div class="post-box">
             Selected Post
         </div>
         <div class="comment-box">
             Comments
         </div>
         <div class="info-box">
             Post Info (likes/views etc)
         </div>
    </div>

    <div class="splitr right">
      <div class="centered">
          <img src="/Photos/profile_pics/default1.jpg" alt="Profile Photo">
          <h2>User Name</h2>
          <p>User Bio</p>
          <p>User Posts</p>
      </div>
      <a href="/home"><img src="/Photos/chevrons/r_chevron.png" class="center"></a>
    </div>
</body>
</html>