<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" type="text/css" href="../static/universals.css">
    <link rel="stylesheet" href="../static/post.css">
    <title>Home</title>

</head>
<body>
    <div class="splitl main-bg">
    <!-- Main area of screen  -->
        <div id="reuse"></div>
    </div>

    <div class="splitr sidebar-bg">
    <!-- Sidebar -->
        <a href="/detail"><img src="../photos/utility/l_chevron.png" class="chevron" alt=""></a>
        <!-- Open/close sidebar chevron -->
    </div>

    <script src="../js/jquery_PC.js"></script>
    <script>
        $ (document).ready(function () {
            $ ('#reuse').load('../templates/reuse.html')
        });
        $('#reuse').keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode === 13){
                var comment = document.getElementById('comment1').value;
                $(".com-hr").append().addClass('.com-div').text(comment);
            }
        });
    </script>
</body>
</html>