
        <div class="post-box box-bg"> <!-- Box around post -->
             <div class="postname">
                 <div id="post-name">Post Name</div> <!-- Name of post -->
                 <div id="poster-name">Poster's Name</div> <!-- Name of user who posted -->
                 <img src="../photos/profile_pics/default1.jpg" alt="poster's profile" id="poster-photo"> <!-- Profile photo of user who posted -->
             </div>
        </div>

        <div class="comment-box box-bg"> <!-- Box around comments -->
            <div class="com-title">Comments</div>
            <div id="comment">Comment 1 <!-- Nested comment -->
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- Commenter's profile photo -->
            </div>

            <div id="reply">Reply 1 <!-- Nested reply -->
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- Commenter's profile photo -->
            </div>

            <div id="reply">Reply 2 <!-- Nested reply -->
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- Commenter's profile photo -->
            </div>

            <br> <!-- break for spacing between comments !IMPORTANT! -->

            <div id="comment">Comment 2 <!-- Nested comment -->
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- Commenter's profile photo -->
            </div>

            <div id="reply">Reply 1 <!-- Nested reply -->
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- Commenter's profile photo -->
            </div>

            <div id="reply">Reply 2 <!-- Nested reply -->
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- Commenter's profile photo -->
            </div>

            <div class="new-com">
                <input id="type-comment" type="text" name="" placeholder="New Comment Here">
                <a href="#" id="post">Post</a>
                <img src="../photos/profile_pics/default1.jpg" alt="commenter's profile" id="img"> <!-- My profile photo -->
            </div>
        </div>

        <div class="info-box box-bg"> <!-- Box around info -->

        </div>
