<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/universals.css">
    <link rel="stylesheet" href="../static/detail.css">
    <link rel="stylesheet" href="../static/me.css">
    <link rel="stylesheet" href="../static/post.css">
    <title>My Profile</title>

</head>
<body>
     <div class="splitl main-bg">
     <!-- Left hand side of screen: post itself -->
         <div id="reuse"></div>
    </div>

    <div class="splitr sidebar-bg">
        <div style="visibility: hidden;" id="rhs">
        <!-- Right hand side of screen: user info -->
            <a href="/home"><img src="../photos/utility/back.png" class="back" alt="Back"></a>
            <a href="/settings"><img src="../photos/utility/cog.png" class="cog" alt="Cog"></a>
            <div class="centered">
                <img src="../photos/profile_pics/default1.jpg" class="profile-pho" alt="Profile Photo">
                <h2>My Name</h2>
                <p>My Bio</p>
                <!-- User info, inc. profile photo -->
            </div>
        </div>
    </div>

    <script src="../js/jquery_PC.js"></script>
    <script>
        $ (document).ready(function () {
            $ ('#reuse').load('../templates/reuse.html');

            setTimeout(function(){
            document.getElementById('rhs').style.visibility = "visible";
            },1000);
        })
    </script>
</body>
</html>