 <div class="post-box box-bg">
     <div class="poster">
         <div style="height: 100%;">
             <img src="../photos/profile_pics/default1.jpg" class="poster-prof" alt="poster's profile">
         </div>
         <p class="prname">Poster's Name</p>
         <p class="pname">Post Title</p>
     </div>
     <hr>
 </div>
 <div class="comment-box box-bg">
     <h2 class="titl">Comments</h2> <!-- 'Comments' text -->
     <br>
     <hr class="com-hr">
     <div class="add-com">
         <hr class="com-hr">
         <div>
             <div class="padr-div">
                 <img src="../photos/profile_pics/default1.jpg" class="coms-prof" alt="my profile">
             </div>
             <input class="new-com" type="text" name="" id="comment1" placeholder="Type Comment Here">
         </div>
     </div>
 </div>
 <div class="info-box box-bg">
     <!-- Info - i.e. likes, dislikes, views -->
     <div class="likebox">
         <div class="vert-cent">
             <img src="../photos/utility/like.png" class="like" alt="like">
             <!-- Like icon -->
             <br>
             <img src="../photos/utility/like.png" class="like" style="-webkit-transform: scaleY(-1); transform: scaleY(-1);" alt="dislike">
             <!-- Dislike icon - webkit for safari compatibility, transform for other browsers. Transformations flip image. -->
         </div>
     </div>
 </div>


