<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/sett.css">
    <link rel="stylesheet" href="../static/universals.css">
    <link rel="stylesheet" href="../static/pos.css">
    <title>Detail</title>

</head>
<body>
     <div class="splitl main-bg">
     <!-- Left hand side of screen: post itself -->
         <div id="reuse"></div>
    </div>

    <div class="splitr sidebar-bg">
    <!-- Right hand side of screen: user info -->
        <a href="/detail"><img src="../photos/back.png" class="back" alt="Back"></a>
        <div class="centered">
            <img src="../photos/profile_pics/default1.jpg" class="profile-pho" alt="Profile Photo">
            <h2>User Name</h2>
            <p>User Bio</p>
            <p>User Posts</p>
            <!-- User info, inc. profile photo -->
        </div>
    </div>

    <script src="../js/jquery_PC.js"></script>
    <script>
        $ (document).ready(function () {
            $ ('#reuse').load('../templates/reuse.html')
        })
    </script>
</body>
</html>