<!DOCTYPE html>
<html lang="en">
<head>
    <title> Welcome </title>
    <link rel="stylesheet" href="../static/welc.css">
    <link rel="script" href="../jav/welcome.js">
</head>
<body>
<section id="square">
    <video src="../static/smoke.mp4" autoplay muted ></video>
    <h1>
        <span>S</span>
        <span>H</span>
        <span>A</span>
        <span>D</span>
        <span>O</span>
        <span>W</span>
        <span>E</span>
        <span>B</span>
    </h1>
</section>
<div class="buttons">
    <div class="quotes">
        <div>
            <div class="box box1">
                <p>Post images to let your friends and stalkers know what you're doing.</p>
                <h2> James Howells </h2>
            </div>
            <div class="bg"></div>
        </div>
        <div>
            <div class="box box2">
                <p>Conveniently chat with your friends while still being able to scroll through their posts.</p>
                <h2> What? Facebook has a different app for that! </h2>
            </div>
            <div class="bg"></div>
        </div>
        <div>
            <div class="box box3">
                <p> You can view everything you want without having to leave the post feed. </p>
                <h2> I'll never have my post feed refresh on me unnecessarily again?!</h2>
            </div>
            <div class="bg"></div>
        </div>
    </div>
    <a href="layout.html" id="login"> Login </a>
    <a href="{{ url_for("signup") }}" id="sign"> Sign Up </a>
</div>
</body>
</html>
